<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content row secondary-content pink-text accent-4">
        <h3 class="col s8 left-align">Total Distance Travelled: </h3>
        <h3 class="col s4 right-align">
          <%= distance %>
          <span class="km"> km</span>
        </h3>
      </div>
    </div>
  </div>
</div>
