
<div class="fixed-action-btn">
    <span class="btn-floating pulse btn-large red">
      <%= link_to '<i class="large material-icons">add</i>'.html_safe, new_travel_path %>
    </span>
</div>

<%= render my_travels %>







