 <div class='list-group mt-3'>
        <div class=' list-group-item list-group-item-action'>
            <div class='d-flex align-items-center justify-content-between'>
                <div class='d-flex align-items-center'>
                  <img src="<%=group.icon%>" class="size rounded"/>
                  <h5>
                    <%= link_to group.name, group ,class:'ml-2 text-lg' %>
                  </h5>
                </div>
            </div>
            <hr>
            <div class='d-flex justify-content-between align-items-center'>
                  <h6>Group by: <%= group.user.name %> </h6>
                   <h6><%= group.created_at.strftime("%d %B %Y") %> </h6>
            </div>
           
        </div>
    </div>