<footer class="page-footer light-blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text brand-logo">Itinerant</h5>
        <p class="grey-text text-lighten-4">
          An app to Log your all travels records.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5>
          <%= link_to 'Home', root_path, class: 'white-text' %>
        </h5>
        <ul>
          <li><%= link_to 'All my Travel Logs', travels_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All my External Travel Logs', external_path, class: 'grey-text text-lighten-3' %></li>
          <li><%= link_to 'All Groups', groups_path, class: 'grey-text text-lighten-3' %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2021 Uduak John
    </div>
  </div>
</footer>