<nav>
  <div class="nav-wrapper light-blue darken-3">
    <%= link_to 'Itinerant', root_path , class: 'brand-logo'%>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= login_logout %></li>
      <li><%= home_signup %></li>
    </ul>
  </div>
</nav>