
    <div class=" container navbar header__box  fixed-top navbar-light ">
     <div class="container d-flex align-items-center">   
       <%= link_to "transaction app",root_path, id: "logo" %>
        <div class=''>
         <% if current_user %>
                <%= link_to "Log out", destroy_user_session_path, method:"delete", class: 'text-lg text-white' %>
          <% else %>
                 <%= link_to "Log in", new_user_session_path, class: 'text-white mx-2 text-lg' %>
                 <%= link_to "Sign up", new_user_registration_path, class:'text-white text-lg' %>
          <% end %>
        </div>
        </div>
    </div>
      
